:root {
  --var-primary: #5D3FD3;
  --var-secondary: #252525;
  --var-background: #F7F7F7;
  --var-background-dark: #ECECEC;
  --var-text: #101C23;
  --var-light: #E8E8E8;
  --var-white: #FFFFFF;
  --var-success: #15ab51;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--var-background);
  color: var(--var-text);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Containers */

.App {
  width: 100%;
  min-height: 100vh;
}

#root,
.web-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.page-padding {
  padding: 0 2rem;
}

.container {
  max-width: 1400px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 2rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.grid-item {
  border-radius: 9px;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-reverse {
  order: -1;
}

@media screen and (min-width: 1000px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .grid-item {
    padding: 1rem;
  }

  .grid-reverse {
    order: 0;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .page-padding {
    padding: 0 4rem;
  }
}

/* Buttons */
.btn {
  background-color: var(--var-primary);
  border: none;
  border-radius: 9px;
  color: var(--var-background);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.015);
  background: var(--var-primary);
}

.btn-primary {
  font-weight: 700;
}

.btn-secondary {
  background: var(--var-light);
  color: var(--var-text);
  font-weight: 700;
}

.btn-secondary:disabled {
  background: var(--var-light);
  color: var(--var-text);
}

.btn-secondary:hover {
  background: var(--var-light);
  color: var(--var-text);
}

.loading-spinner {
  width: 1.5rem;
}

/* Typography */
.text-semi-bold {
  font-weight: 600;
}

.text-primary {
  color: var(--var-primary);
}

.text-secondary-c {
  color: var(--var-secondary);
}

.text-highlight {
  color: var(--var-primary);
}

.header-1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.header-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
  .p {
    font-size: 1.3rem;
  }

  .header-2 {
    font-size: 1.8rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

#home,
#features,
#pricing,
#showcase,
#faq,
#contact {
  scroll-margin-top: 80px;
}

/* Images */
.img {
  border-radius: 9px;
  width: 100%;
  max-width: 400px;
  object-fit: cover;
}

.img-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Lists */
.list {
  list-style: none;
  padding: 0;
}

.list-item {
  margin-bottom: .3rem;
}

/* Icons */
.icon-primary {
  color: var(--var-primary);
}

/* Forms */

.form-container {
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

.form {
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 8rem 0 6rem 0;
  width: 100%;
  max-width: 30rem;
}

.form__header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form__btn-google {
  width: 100%;
  height: 3rem;
  margin: 1rem 0;
  font-size: 1.1rem;
  text-align: center;
  background-color: var(--var-light);
  color: var(--var-text);
  border: none;
  border-radius: 5px;
}

.form__btn-google:hover {
  opacity: 0.9;
  background: var(--var-light);
  color: var(--var-text);
}

.form__input {
  width: 100%;
  height: 3rem;
  margin-top: .3rem;
  border: 1px solid var(--var-primary);
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1rem;
}

.form__btn {
  width: 100%;
  height: 3rem;
  margin: 1rem 0;
  font-size: 1.1rem;
  text-align: center;
}

.form__btn:disabled {
  background: var(--var-primary);
}

.form__error {
  color: var(--var-text);
  font-size: .9rem;
  padding: .5rem;
  background: var(--var-light);
  width: 100%;
  border-radius: 5px;
  font-weight: 500;
  margin: 0 0 .3rem 0;
}

.form__splitter {
  margin: 0 0 .6rem 0;
}

@media screen and (min-width: 1000px) {
  .form__header {
    font-size: 2rem;
  }
}