.home {
    padding-top: 10rem;
}

.home__hero-link {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    width: 12rem;
}

/* Features */
.features {
    margin-top: 4rem;
    background: var(--var-background-dark);
    width: 100%;
}

.features-p {
    border-bottom: 1px solid var(--var-light);
    padding-bottom: 2rem;
}

.features__list-item {
    font-size: 1.1rem;
}

/* Showcase */
.showcase {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.showcase__item {}