.icon-generator__icon-display__main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
}

.icon-generator__icon-display__main-img {
    border-radius: 9px;
    width: 100%;
}

.icon-generator__icon-display__main-example {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

.icon-generator__icon-display__main-helper {
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    font-size: 1.5rem;
}

@media screen and (min-width: 1000px) {
    .icon-generator__icon-display__main-helper {
        font-size: 1.8rem;
    }

    .icon-generator__icon-display__main {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}