.icon-download__btn {
    width: 100%;
    margin-top: .5rem;
    font-size: 1.1rem;
}

.icon-download__header {
    width: 100%;
    margin: 0 0 .3rem 0;
}

.icon-download__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 35rem;
}

.icon-download__container-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.icon-download__img {
    width: 100%;
    border-radius: 9px;
}

@media screen and (min-width: 768px) {
    .icon-download__btn {
        font-size: 1.3rem;
    }
}